@import "../../styles/partials/variables";
.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
	min-height: 900px;
	min-width: 430px;
}

.phoneContainer {
	background: rgb(99, 103, 108);
	background: linear-gradient(0deg, #212020 100%, #272a2d 1%);
	height: 825px;
	width: 385px;
	display: grid;
	grid-template-rows: 5fr, 75fr, 20fr;
	grid-template-columns: 1fr;
	border-radius: 25px;
}
